.container {
  display: flex;
  justify-content: left;
  align-items: top;
  height: 100vh;
}

.case-container {
  margin: 20px;
}

.case-label {
  font-weight: bold;
  margin-bottom: 5px;
  color:blue;
}

.text-input {
  margin-bottom: 20px;
}

.text-display {
  margin-bottom: 10px;
  color: #df1d1d;
  font-weight: bold;
}
